@import './../../variables.less';
.header{}
.table{
    background-color: @light;
    padding: 4px;
    &__head{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        background-color: @dark;
        &_item{
            padding: 10px 5px;
        }
    }
    &__body{
        display: grid;
        grid-gap: 4px;
        padding: 10px 0;
    }
}



