@import './../../../variables.less';

.player{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    background-color: @primary;
    padding: 10px;
    position: relative;
    cursor: pointer;
}